<div id="main">
  <!-- CONTENT-->
  <div id="content">

    <div id="section-our-team-profile" class="section" style="padding-top:90px;">
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div class="col-md-4">
              <div class="des-info">
                <div class="media" style="border: 1px solid rgb(204, 204, 204); padding: 25px;">
                  <div class="doc_details">
                    <img src="assets/pp.jpg" class="doc_img" alt="" />
                    <div class="name" style="font-size:18px;font-weight: bold;margin-top: 12px;">
                      Dr. Ravikanth Thota
                    </div>
                  </div>
                  <hr>
                  <div class="doc_detail">
                    <div class="" style="display:inline-flex;line-height:1">
                      <div>
                        <i class="fa fa-medkit mrm" style="font-size:20px; color:#828486"></i>
                      </div>
                      <div style="margin-left:7px;line-height:1.5">
                        Orthopedic Surgery,
                      </div>
                    </div>
                    <br>
                    <div class="" style="display:inline-flex">
                      <div>
                        <i class="fa fa-graduation-cap" style="font-size:20px; color:#828486" aria-hidden="true"></i>
                      </div>
                      <div style="margin-left:7px">
                        MBBS, MS, MCh </div>
                    </div>
                    <br>
                    <div class="" style="display:inline-flex;line-height:1">
                      <div class="name">
                        <i class="fa fa-map-signs mrm" style="font-size:20px; color:#828486"></i>
                      </div>
                      <div style="margin-left: 6px;line-height:1.5">Apollo hospital, Film nagar, jubille hills,Hyderabad,Andhra Pradesh,India</div>
                    </div>
                    <br>
                    <div class="" style="display:inline-flex">
                      <div class="phone">
                        <i class="fa fa-phone mrm" style="font-size:20px; color:#828486"></i>
                      </div>
                      <div style="margin-left: 8px;">9247258989</div>
                    </div>
                    <br>
                    <div class="" style="display:inline-flex">
                      <div class="phone">
                        <i class="fa fa-envelope mrm" style="font-size:20px; color:#828486"></i>
                      </div>
                      <div style="margin-left: 8px;">Ravikanth@gmail.com</div>
                    </div>
                    <br>
                    <div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end of side block -->
            <div class="col-md-8">
              <div class="media" style="border: 1px solid rgb(204, 204, 204);">
                <div class="appnmt_panel">Details</div>
                <br>
                <div class="row">
                  <div class="col-xs-6 text-center">
                    <input type="radio" id="Appnmnttype" value="Routine" name="Apptype" class="square-blue">
                    <span style="position: relative;top:1px">Upload medical documents</span>
                  </div>
                  <div class="col-xs-6 text-center">
                    <input type="radio" id="Appnmnttype" value="Early" name="Apptype" class="square-blue">
                    <span style="position: relative;top:1px">View doctor details</span>
                  </div>
                </div>
                <div class="row">
                  <br>
                  <hr>
                  <div class="col-xs-12 hidden">

                    Please provide the below details and upload required documents
                  </div>
                  <div class= "col-xs-12 text-info text-styling">

                      <p>Dr. Ravikanth is a Obstetrician  in Hyder Nagar, Hyderabad and has an experience of 14 years in these fields. Dr. Ravikanth practices at Birthright By Rainbow in Hyder Nagar, Hyderabad. He completed MBBS from Dr. NTR University of Health Sciences Andhra Pradesh in 2004 and DGO from Osmania University in 2009</p>
                    </div>
                    <div  id="googleMap" style="width:780px;height:200px;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
