<div id="main">
  <!-- CONTENT-->
  <div id="content">

    <div id="section-our-team-profile" class="section" style="padding-top:90px;">
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div class="col-md-4">
              <div class="des-info">
                <div class="media" style="border: 1px solid rgb(204, 204, 204); padding: 25px;">
                  <div class="doc_details">
                    <img src="assets/hospital.jpg" class="doc_img" alt="" />
                    <div class="name" style="font-size:18px;font-weight: bold;margin-top: 12px;">
                        {{hospitalInformation.name}}
                    </div>
                  </div>
                  <hr>
                  <div class="doc_detail">
                    <div class="" style="display:inline-flex;line-height:1">
                      <div>
                        <i class="fa fa-medkit mrm" style="font-size:20px; color:#828486"></i>
                      </div>
                      <div style="margin-left:7px;line-height:-1.5">
                        {{hospitalInformation.specialist}}
                      </div>
                    </div>
                    <br>
                    <div class="" style="display:inline-flex">
                      <div>
                        <i class="fa fa-bed" style="font-size:20px; color:#828486" aria-hidden="true"></i>
                      </div>
                      <div style="margin-left:7px">
                        {{hospitalInformation.beds}} beds </div>
                    </div>
                    <br>
                    <div class="" style="display:inline-flex">
                        <div>
                          <i class="fa fa-user-md" style="font-size:20px; color:#828486" aria-hidden="true"></i>
                        </div>
                        <div style="margin-left:7px">
                          {{hospitalInformation.numberOfDoctors}} doctors </div>
                      </div>
                      <br>
                    <div class="" style="display:inline-flex;line-height:1">
                      <div class="name">
                        <i class="fa fa-map-signs mrm" style="font-size:20px; color:#828486"></i>
                      </div>
                      <div style="margin-left: 6px;line-height:-0.5">{{hospitalInformation.address}}</div>
                    </div>
                    <br>
                    <div class="" style="display:inline-flex">
                      <div class="phone">
                        <i class="fa fa-phone mrm" style="font-size:20px; color:#828486"></i>
                      </div>
                      <div style="margin-left: 8px;">+91 40395 64252 ( Extension: 108)</div>
                    </div>
                    <br>
                    <div class="" style="display:inline-flex">
                      <div class="phone">
                        <i class="fa fa-envelope mrm" style="font-size:20px; color:#828486"></i>
                      </div>
                      <div style="margin-left: 8px;"> {{hospitalInformation.mail}}</div>
                    </div>
                    <br>
                    <div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end of side block -->
            <div class="col-md-8">
              <div class="media" style="border: 1px solid rgb(204, 204, 204);">
                <div class="appnmt_panel">Details</div>
                <br>
                <div class="row">
                  <div class="col-xs-12 text-center">
                    <!-- <input type="radio" id="Appnmnttype" value="Routine" name="Apptype" class="square-blue"> -->
                    <span style="position: relative;top:1px">Upload medical documents  .</span>
                    <button type="button" class="btn btn-primary btn-md">Upload</button>
                  </div>
                </div>
                <div class="row">
                  <br>
                  <hr>
                  <div class="col-xs-12 hidden">

                    Please provide the below details and upload required documents
                  </div>
                  <div class= "col-xs-12 text-info text-styling ">

                      <p> {{hospitalInformation.hospitalInformation}}</p>
                    </div>
                    <div  id="googleMap" style="width:780px;height:200px;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
