.home-banner-body {
  background: url(assets/backgroud.jpg) top center no-repeat;
  min-height: 629px;
  background-attachment: fixed;
  background-position-y: -210px;
  background-position-x: -499px;
}

.new-header {
  text-align: center;
  font-size: 40px;
  color: #002444;
  font-weight: bold;
  text-shadow: 0 0 2px #000000;
  padding-top: 75px;
}

.header-container {
  margin-bottom: 50px;
  padding-top: 40px;
}

.mark{
  background-color: #fffffff5;
}

.col-xs-2{
  padding-left:0px !important;
 padding-right:0px !important;
 }

 .col-xs-4{
  padding-left:4px !important;
 padding-right:0px !important;
 }

.hide{
  display: none;
}


.show{
  display: block;
}


.rdonly:hover
{
   cursor: pointer;

}

.dropdown-content {
  position: relative;
  width: 220px;
  margin: 0 auto;
  padding: 5px;

  /* Styles */
  background: #ffffff;
  border-radius: 7px;
  border: 1px solid rgba(0,0,0,0.15);
  box-shadow: 0 1px 1px rgba(50,50,50,0.1);
  cursor: pointer;
  outline: none;

  /* Font settings */
  font-weight: bold;
  color: #8AA8BD;
  max-height: 150px;
  overflow-y: scroll;
}

.dropdown-content-doctor {
  position: relative;
  width: 445px;
  margin: 0 auto;
  padding: 5px;

  /* Styles */
  background: rgb(255, 252, 252);
  border-radius: 7px;
  border: 1px solid rgba(0,0,0,0.15);
  box-shadow: 0 1px 1px rgba(50,50,50,0.1);
  cursor: pointer;
  outline: none;

  /* Font settings */
  font-weight: bold;
  color: #8AA8BD;
  max-height: 150px;
  overflow-y: scroll;
}

.dropdown {
  position: relative;
  top: 0px;
  left: 0;
  width: 150px;
  height: 0;
  margin: 0;
  padding: 0 5px 0 5px;
  border-radius: 0 0 5px 5px;
  background: #393939;
  transition: 0.5s;
  cursor: pointer;
  overflow: hidden;
}

.con{
  list-style: none;
  margin: 0;
  padding: 5px 5px 0 5px;
}

.conli {
  margin: 0 0 10px 0;
  padding: 0 0 5px 0;
  width: 100%;
  border-bottom: 1px solid #676768;
}

.conlia {
  text-decoration: none;
  margin: 0 0 5px 0;
  padding: 0;
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 2px;
  color: #fff;
}

.speciality-list-container {
  color: #3f3636;
  font-size: 15px;
  padding: 15px 0;
  position: relative;
  width: 785px;
  margin: 0 auto;

}

.popular-search-styling{
  padding-left: 400px;
  color: #002444;
}

.cities-search-styling{
  padding-left: 10px;
  padding-right: 10px;
  color: #002444;
}

.footer{
  padding-top: 7px;
  padding-bottom: 7px;
  color:#8AA8BD
}

